*.bak
external/data2

external/data2.oput

external/data2.slboot
dem/CH/DHM200.asc
dem/CH/DHM200.xyz
dem/CH/licence.TXT
dem/CH/DHM200_polyface.dxf
dem/CH/Metadata_gm03.xml
dem/CH/Metadata_xml_iso19139.xml
dem/CH/license.txt
dem/CH/Metadata_PDF.pdf
dem/WORLD/ETOPO1_Bed_c_geotiff.tif
**/lastcatalog.mat
**/untitled.fig
**/matlab.mat
working/lastcatalog.mat


dem/worlddata.zip
dem/chdata.zip
